{% extends "base.html" %}

{% block title %}Djanswer - Login{% endblock %}

{% block topbar %}<!-- no topbar -->{% endblock topbar %}

{% block content %}
    <br>
    <br>
    <div class="mt-3 display-1 text-light text-center">
        <b>Djanswer?</b>
    </div>
    <br>
    <div class="row justify-content-center mb-3">
        <div class="col-md-4 card">
            <div class="card-body">
                <div class="card-title h2">Log in?</div>
                <hr>
                <div id="error-box" class="{% if not errors %}d-none{% endif %} alert alert-danger">
                    <ul id="error-list">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <form id="loginForm" action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="username" class="form-control" id="username" name="username" required>
                      </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                      <a href="/register"><small>I need an account!</small></a>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Yes, please! </button>
                  </form>
            </div>
        </div>
    </div>
{% endblock %}