{% extends "base.html" %}

{% block title %}Djanswer - Room #{{ roomCode }}{% endblock %}


{% block topbar %}
{% endblock topbar %}
    

{% block content %}
    {% load bootstrap_icons %}
    <div class="row" id="game">
        <div class="col-lg-3 card mb-2 mb-lg-0">
            <div class="card-body">
                {% if user == room.owner %}
                    <button class="btn btn-success btn-lg w-100 mb-1" id="startButton">START</button>
                {% endif %}
                <button class="btn btn-outline-secondary btn-lg w-100" id="leaveButton">LEAVE</button>
                <hr>
                <div class="card-title h2 d-flex justify-content-between">
                    <b class="align-self-center">Players</b>
                    <span  class="expandable-arrows d-lg-none">
                        <i class="align-self-center" id="expandPlayers">
                            {% bs_icon 'arrow-down-circle-fill' size='1.2em' %}
                        </i>
                        <i class="d-none align-self-center" data-toggle="Collapse" title="Expand" id="collapsePlayers">
                            {% bs_icon 'arrow-up-circle-fill' size='1.2em' %}
                        </i>
                    </span>
                </div>
                <div class="overflow-scroll d-none d-lg-block" style="height: 75vh" id="players">
                </div>
            </div>
        </div>
        <div class="col-lg card ms-lg-2" style="min-height: 75vh;">
            <div class="card-body" class="message-box">
                <textarea class="w-100 h-75 text-dark fw-bolder" disabled style="resize: none;" id="chat"></textarea>
                <hr class="m-0 mb-1">
                <div class="input-group h-25">
                    <textarea class="form-control" style="resize: none; font-size: 1.1em" placeholder="Your message here..." id="messageText"></textarea>
                    <button class="btn btn-outline-secondary ps-5 pe-5" type="button" id="messageButton">{% bs_icon 'send-fill' size='2em' %}</button>
                  </div>
            </div>
        </div>
    </div>  
    <div id="userCardTemplate" class="d-none">
        <div class="mb-3">
            <div class="card h-100 bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="card_username"></div>
                    </h5>
                </div>
            </div> 
        </div> 
    </div>

    <script>
        const roomCode = '{{ room.code }}';
        const currentPlayer = '{{ user.username }}';
        const owner = '{{ room.owner.username }}';
        let players = [];

        {// socket functions        
            const socketUrl = 
                ('ws://' + location.host + '/ws/room/' + roomCode + '/lobby') +
                (currentPlayer === owner ? '/owner' : '');

            const chatSocket = new WebSocket(socketUrl);
            chatSocket.onopen = function () {
                chatSocket.send(JSON.stringify({
                    'type': 'connected'
                }));
            }

            chatSocket.onmessage = function(e) {
                const message = JSON.parse(e.data);
                if (message.type === 'connected') {
                    // you connected
                    for (const username of message.players) {
                        displayPlayerInList(username);
                    }
                    return;
                }  
                
                if (message.type === 'player_connected' && message.player !== currentPlayer) {
                    // another player has connected
                    playerConnected(message.player);
                    return;
                }
                
                if (message.type === 'player_left') {
                    // someone left
                    if (message.player === currentPlayer) {
                        location.replace('/');
                    }

                    displayMessage(message.player + ' left the room');
                    removePlayerFromList(message.player)
                    return;
                } 

                if (message.type === 'room_deleted') {
                    alert('The room is no longer available.');
                    location.replace('/');
                    return;
                } 
                
                if (message.type === 'chat_message_received') {
                    // a message was received (can be from yourself too)
                    displayMessage(message.text, message.player);
                    return;
                }

                if (message.type === 'game_started') {
                    // the owner started the game
                    location.replace('{% url "room_game" room_code=room.code %}');
                    return;
                }
            };

            chatSocket.onclose = function(e) {
                document.getElementById('players').innerHTML = '';
                console.error('Chat socket closed unexpectedly');
            };

            function sendMessage(message) {
                chatSocket.send(JSON.stringify({
                    'type': 'chat_message',
                    'text': message
                }));
            }

            function startGame() {
                chatSocket.send(JSON.stringify({'type': 'start_game'}))
            }

            function leaveRoom() {
                chatSocket.send(JSON.stringify({'type': 'left'}))
            }
        }

        { // lobby functions....
            document.querySelector('.expandable-arrows').addEventListener('click', function (event) {
                const playersBox = document.querySelector('#players');
                if (playersBox.classList.contains('d-none')) {
                    playersBox.classList.add('fade-in-down')
                    playersBox.classList.remove('d-none');
                    document.querySelector('#expandPlayers').classList.add('d-none');
                    document.querySelector('#collapsePlayers').classList.remove('d-none');
                } else {
                    playersBox.classList.add('d-none');
                    event.target.classList.replace('arrow-up-circle-fill','arrow-down-circle-fill');
                    document.querySelector('#expandPlayers').classList.remove('d-none');
                    document.querySelector('#collapsePlayers').classList.add('d-none');
                }
            })

            document.querySelector('#messageButton').addEventListener('click', function() {
                const messageInput = document.querySelector('#messageText');
                sendMessage(messageInput.value);
                messageInput.value = '';
            });

            document.querySelector('#leaveButton').addEventListener('click', function () {
                if (! confirm('Are you sure you want to leave this room?')) {
                    return;
                }

                leaveRoom();
            });

            function playerConnected(username) {
                if (document.querySelector('#player_' + username)) {
                    displayMessage(username + ' has reconnected to the chat....');
                    return;
                } else {
                    displayMessage(username + ' has connected to the chat....');
                }

                displayPlayerInList(username);
            }

            function displayPlayerInList(username) {
                players.push(username);

                const userCardTemplate = document.querySelector('#userCardTemplate > div').cloneNode(true);
                userCardTemplate.id = 'player_' + username;
                userCardTemplate.querySelector('.card_username').innerHTML = 
                    username +
                    (username === currentPlayer ? ' (you)' : '') +
                    (username === owner ? ' <b>♕</b>' : '');

                document.querySelector('#players').append(userCardTemplate);
            }

            function removePlayerFromList(username) {
                players = players.filter(player => player !== username)
                document.querySelector('#player_' + username).remove();
            }

            function displayMessage(message, user=null) {
                document.querySelector('#chat').value += (user ? user + ': ' : '') + message  + String.fromCharCode(13)
            }
        }

        { // start game
            function startCountdown() {
                if (players.length < 4) {
                    alert('At least 4 players must be present in the room!');
                    return;
                }

                sendMessage('The game will start in 5 seconds!');

                seconds = 5;
                this.classList.replace('btn-success', 'btn-outline-danger');
                this.innerHTML = 'CANCEL :<span id="startCountdown">'+ seconds +'</span>:';

                countdownInterval = setInterval(countdown, 1000);
                this.removeEventListener('click', startCountdown);
                this.addEventListener('click', stopCountdown);
            }

            function stopCountdown() {
                sendMessage('The game will not start anymore!');
                this.classList.replace('btn-outline-danger', 'btn-success')
                this.innerHTML = 'START';
                this.removeEventListener('click', stopCountdown);
                this.addEventListener('click', startCountdown);
                clearInterval(countdownInterval);
            }

            function countdown() {
                seconds = seconds - 1;
                document.querySelector('#startCountdown').innerHTML = seconds;
                if (seconds == 0) {
                    clearInterval(countdownInterval);
                    const button = document.querySelector('#startButton');
                    button.classList.replace('btn-outline-danger', 'btn-warning');
                    button.disabled = true;
                    button.innerHTML = 'LOADING...'
                    button.removeEventListener('click', stopCountdown);
                    startGame();
                }
            }

            document.querySelector('#startButton')?.addEventListener('click', startCountdown);
            var countdownInterval;
            var seconds = 5;
        }

    </script>
{% endblock %}