{% extends "base.html" %}

{% block title %}Djanswer - Room #{{ room.code }}{% endblock %}

{% block content %}
    {% load bootstrap_icons %}
    <div class="toast align-items-center bg-warning text-light position-fixed mt-3 top-0 start-50 translate-middle-x" style="z-index: 99999;" role="alert" aria-live="assertive" aria-atomic="true" id="toast">
        <div class="d-flex">
            <div class="toast-body" id="message"></div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

    <div class="d-flex justify-content-center mb-3" id="spinner">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row justify-content-center mb-3 game-phase d-none" id="questionsPhase">
        <div class="col-md-6 card">
            <div class="card-body">
                <div class="card-title">
                    <p class="h2">Write your question below!</p>
                    <p class="h4 text-muted fs-6">Remember, you'll receive points if the most voted answer is for your question.</p>
                </div>
                <input type="text" class="form-control" placeholder="What did you eat last night?" id="questionInput">
                <button class="btn btn-primary w-100 mt-2 fs-5" id="submitQuestionButton">
                    submit <span id="timer" class="badge bg-danger"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3 game-phase d-none" id="answersPhase">
        <div class="col-md-6 card">
            <div class="card-body">
                <div class="card-title">
                    <p class="h2" id="questionText"></p>
                </div>
                <input type="text" class="form-control" placeholder="A funny answer!" id="answerInput">
                <button class="btn btn-primary w-100 mt-2 fs-5" id="submitAnswerButton">
                    submit <span id="timer" class="badge bg-danger"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row mb-3 game-phase d-none justify-content-center" id="votePhase">
        <div class="col-md-12 text-center text-light h2">Vote your favorite! <span id="timer" class="badge bg-danger fs-5"></span></div>
    </div>

    <div id="voteCardTemplate" class="d-none">
        <div class="vote-card col-md-4 m-1 h-100">
            <div class="card">
                <div class="card-header">
                    <div id="questionText" class="h5"></div>
                </div>
                <div class="card-body">
                    <div id="answerText" class="h5"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const roomCode = '{{ room.code }}';
        const currentUser = '{{ user.username }}';

        {// socket functions        
            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/room/'
                + roomCode
                + '/game'
            );

            chatSocket.onopen = function () {
                chatSocket.send(JSON.stringify({
                    'type': 'connected'
                }));
            }

            chatSocket.onmessage = function(e) {
                const message = JSON.parse(e.data);
                console.log(message)

                if (message.type === 'questions_phase_started') {
                    startQuestionsPhase(message.remaining_time);
                    return;
                }

                if (message.type === 'question_error') {
                    showAlert(message.error);
                    startQuestionsPhase(message.remaining_time);
                    return;
                }

                if (message.type === 'answers_phase_started') {
                    startAnswersPhase(message.remaining_time, message.question)
                    return;
                }

                if (message.type === 'answer_error') {
                    showAlert(message.error);
                    startAnswersPhase(message.remaining_time, message.question);
                    return;
                }

                if (message.type === 'vote_phase_started') {
                    startVotePhase(message.remaining_time, message.answered_questions);
                    return;
                }

                if (message.type === 'vote_error') {
                    showAlert(message.error);
                    clearVotedAnswer();
                    return;
                }

            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            function sendQuestion(question) {
                chatSocket.send(JSON.stringify({
                    'type': 'question',
                    'text': question
                }));
            }

            function sendAnswer(answer) {
                chatSocket.send(JSON.stringify({
                    'type': 'answer',
                    'text': answer
                }));
            }

            function sendVote(answerId) {
                chatSocket.send(JSON.stringify({
                    'type': 'vote',
                    'answer_id': answerId
                }))
            }
        }

        {// questions phase
            function startQuestionsPhase(remaining_time) {
                document.querySelector('#spinner').classList.add('d-none');
                document.querySelectorAll('.game-phase').forEach((element) => {element.classList.add('d-none')});
                document.querySelector('#questionsPhase').classList.remove('d-none');
                timer(remaining_time, document.querySelector('#questionsPhase #timer'));
            }

            document.querySelector('#questionsPhase #timer').addEventListener('timeout', function () {
                document.querySelector('#submitQuestionButton').disabled = true;
            })

            document.querySelector('#submitQuestionButton').addEventListener('click', function () {
                const question = document.querySelector('#questionInput').value;
                if (! question) {
                    alert('Question cannot be blank!');
                    return;
                }

                sendQuestion(question);
                document.querySelectorAll('.game-phase').forEach((element) => {element.classList.add('d-none')});
                document.querySelector('#spinner').classList.remove('d-none');
            });
        }

        {// answers phase
            function startAnswersPhase(remaining_time, question) {
                document.querySelector('#spinner').classList.add('d-none');
                document.querySelectorAll('.game-phase').forEach((element) => {element.classList.add('d-none')});
                document.querySelector('#answersPhase').classList.remove('d-none');
                document.querySelector('#answersPhase #questionText').innerText = question
                timer(remaining_time, document.querySelector('#answersPhase #timer'));
            }

            document.querySelector('#answersPhase #timer').addEventListener('timeout', function () {
                document.querySelector('#submitAnswerButton').disabled = true;
            })

            document.querySelector('#submitAnswerButton').addEventListener('click', function () {
                const answer = document.querySelector('#answerInput').value;
                if (! answer) {
                    alert('Question cannot be blank!');
                    return;
                }

                sendAnswer(answer);
                document.querySelectorAll('.game-phase').forEach((element) => {element.classList.add('d-none')});
                document.querySelector('#spinner').classList.remove('d-none');
            });
        }

        {// vote phase
            function startVotePhase(remaining_time, answeredQuestions) {
                const votePhaseDiv = document.querySelector('#votePhase');
                answeredQuestions.forEach((answeredQuestion) => {
                    const voteCard = document.querySelector('#voteCardTemplate > div').cloneNode(true);
                    voteCard.id = 'answer_' + answeredQuestion.answer_id;
                    voteCard.querySelector('#questionText').innerText = answeredQuestion.question;
                    voteCard.querySelector('#answerText').innerText = answeredQuestion.answer;
                    voteCard.setAttribute('answerId', answeredQuestion.answer_id);
                    voteCard.addEventListener('click', function () {
                        if (this.getAttribute('disabled')) {
                            return;
                        }

                        clearVotedAnswer();
                        setVotedAnswer(this.getAttribute('answerId'));
                        sendVote(this.getAttribute('answerId'));
                    });

                    votePhaseDiv.append(voteCard);

                    if (answeredQuestion.voted) {
                        setVotedAnswer(answeredQuestion.answer_id)
                    }
                });

                document.querySelector('#spinner').classList.add('d-none');
                document.querySelectorAll('.game-phase').forEach((element) => { element.classList.add('d-none') });
                votePhaseDiv.classList.remove('d-none')
                timer(remaining_time, document.querySelector('#votePhase #timer'));
            }

            function setVotedAnswer(answerId) {
                document.querySelector('#answer_' + answerId).querySelector('.card').classList.add('bg-primary', 'text-light');
            }

            function clearVotedAnswer() {
                document.querySelectorAll('.vote-card').forEach((elem) => {
                    const card = elem.querySelector('.card');
                    card.classList.remove('bg-primary', 'text-light');
                });

            }

            document.querySelector('#votePhase #timer').addEventListener('timeout', function () {
                document.querySelectorAll('.vote-card').forEach((elem) => { elem.setAttribute('disabled', true); })
            });
        }
        
        function timer(remainingSeconds, targetElement) {
            remainingSeconds = remainingSeconds > 0 ? remainingSeconds : 0;
            targetElement.innerText = remainingSeconds;

            if (remainingSeconds <= 0) {
                const event = new Event('timeout');
                targetElement.dispatchEvent(event);
                return;
            }

            setTimeout(timer, 1000, remainingSeconds - 1, targetElement);
        }

        function showAlert(message) {
            const toastElement = document.querySelector('#toast');
            toastElement.querySelector('#message').innerText = message;
            const toast = bootstrap.Toast.getOrCreateInstance(toastElement);
            toast.show();
        }
    </script>
{% endblock %}